@font-face {
  font-family: 'Lipishree';
  src: url('https://cdn.jsdelivr.net/gh/IceBear65/bangla-font-cdn@latest/Lipishree/font.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/IceBear65/bangla-font-cdn@latest/Lipishree/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
